<head>
    <link rel="stylesheet" href="app/static/css/styles.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gapp/static.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap" rel="stylesheet">
</head>
<body style="overflow: hidden;">
	<div class="bottom_line"></div>
	<title>Porta Aberta</title>
	<div class ="side-by-side">
		<div class="window welcome" style="margin-left:auto; margin-right: auto;">
			<h1 style="font-size: 48px; color: #5d6569;">Texto inspirador rede social...</h1>
			<p class="subtitulo">
				Tal tal coisas asjdij<br>
				Tal tal coisas asjdij<br>
				Tal tal coisas asjdij<br>
				Tal tal coisas asjdij<br>
				Tal tal coisas asjdij<br>
			</p>
		</div>
		<form class = "window" style="margin-right:auto;"" method="POST">
			<div class="warning">
				{{warning}}
			</div>
			<center>
				<img src="app/static/images/portaberta.png" style = "width: 168px"><br>
			</center>
			<label for="name">Usuário:</label><br>
			<input id="name" name="name" type="text" />
			<br><br>
			<label for="passwd">Senha:</label><br>
			<input id="password" name="password" type="text" />
			<br><br>
			<div class="side-by-side" style="height:20px;">
			<input name="button" type="submit" value="Register" style="margin-right:auto;">
			<input name="button" type="submit" value="Login">
			</div>
		</form>
	</div>
	<div class="footer">
	<p>Porta Aberta © — All Rights Reserved</p>
	</div>
</body>