
<head>
    <link rel="stylesheet" href="app/static/css/styles.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gapp/static.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap" rel="stylesheet">
</head>
<body style="overflow: hidden;">
	<title>Página de usuario</title>
	<div class="bottom_line"></div>
	<div class ="side-by-side">
		<div class="window welcome" style="margin-left:auto; margin-right: auto;">
			<h1 style="font-size: 48px; color: #5d6569;">Pagina de usuario</h1>{{numero}}
			<p class="subtitulo">
				Pagina de usuario<br>
			</p>
		</div>
	</div>
	<div class="footer">
	<p>Porta Aberta © — All Rights Reserved</p>
	</div>
</body>


